#testimonio{
  text-align: center;
}
.turistaPhoto1 {
 width: 48%;


}
.turistaPhoto2{
  width: 48%;
  text-align: center;
 }

.turistaPhoto3{
  width: 48%;
}

#globalTuristas{
  text-align: center;
}

#fiveSection{
  background-color: brown;
}
#contactos{
  text-align: center;
  color: white;
}
.filled-in{
  background-color: white;
}

.btn{
  margin: 1%;
}